<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShareDrive</title>
	<link rel="icon" href="/images/favicon.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    .custom-box {
      max-width: 500px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .custom-header {
      background-color: #007bff;
      color: white;
      font-weight: bold;
      padding: 10px 15px;
    }

    .custom-content {
      padding: 15px;
    }

    .custom-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    .form-control,
    .form-select {
      width: 100%;
    }

    @media screen and (max-width: 450px) {
      .carousel-image {
        object-fit: contain;
        /* Ensures the image covers the area without stretching */
        max-height: 450px;
        /* Set to match the max-height of the carousel */
      }
    }

    .carousel-image {
      object-fit: contain;
      max-height: 450px;
      object-position: center;
    }

    .horizontal {
      display: flex;
      overflow-x: auto;
      padding-bottom: 10px;
    }

    .horizontal::-webkit-scrollbar {
      width: 0px;
    }
  </style>
</head>

<body>
  <style>

  </style>
  <div class="container" style="position: sticky; top: 0px; z-index: 100;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="Logo" width="70" height="24" class="d-inline-block align-text-top">
          <strong style="text-transform: uppercase; font-weight: bold; font-size: 23px;"><span style="color: #000;">Share</span><span style="color: #1871e3;">Drive</span></strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-primary fw-semibold" aria-current="page" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary fw-semibold" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary fw-semibold" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary fw-semibold" href="/car">Cars</a>
            </li>
            <% if(profile){ %>
              <li class="nav-item">
                <a class="nav-link text-primary fw-semibold" href="/profile/<%= profile %>">Profile</a>
              </li>
            <% } else{%>
              <li class="nav-item">
                <a class="nav-link text-primary fw-semibold" href="/login">Login</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <h1 class="text-secondary-emphasis text-center m-4">About Us</h1>
    <p class="text-secondary" style="text-align: justify;">
      Welcome to <strong>Sharedrive</strong><br>
      <strong>Sharedrive</strong> is more than just a car rental service – it’s your trusted partner on the road. With a diverse fleet of
      well-maintained vehicles and a commitment to exceptional service, we strive to make every ride smooth, safe, and
      stress-free.
      <br>
      At <strong>Sharedrive</strong>, we believe every journey should be as memorable as the destination. As a premium car rental
      company, we are dedicated to delivering seamless, reliable, and sophisticated transportation solutions tailored to
      your needs. Whether it’s a quick city trip, a family getaway, or a business venture, we provide the perfect
      vehicle to make your travel effortless and enjoyable.

    </p>
  </div>
  <div class="container">
    <h1 class="text-secondary-emphasis text-center m-4">Why to choose us</h1>
    <p class="text-secondary p-2" style="text-align: justify;">
      At <strong>Sharedrive</strong>, we are committed to providing a seamless car rental experience that meets the diverse needs of
      every traveler. Our extensive fleet includes everything from compact cars, perfect for city drives and solo trips,
      to luxury vehicles designed for those seeking premium comfort and style. No matter your budget or preference, we
      offer all our vehicles at competitive and transparent prices, ensuring you always know what you’re paying for—with
      absolutely no hidden fees.
      <br>
      Our strategically located rental hubs make it easy to access our services, whether you’re traveling across the
      country or venturing internationally. Whether you’re picking up a vehicle near your home, at a major airport, or
      at a city center, we ensure convenience and accessibility at every step of your journey.
      <br>
      We understand that plans can change, which is why we offer flexible rental terms tailored to your schedule—whether
      you need a car for a few hours, days, or weeks. To further enhance your peace of mind, our dedicated team provides
      24/7 customer support, ready to assist you at any time, ensuring a stress-free and smooth rental experience.
      <br>
      At <strong>Sharedrive</strong>, your convenience and satisfaction are our top priorities. We combine affordability, reliability,
      and exceptional service to help you get where you need to go with confidence and ease.
    </p>
    <h1 class="text-secondary-emphasis text-center m-4">Our Promise</h1>
    <p class="text-secondary p-2" style="text-align: justify;">
      At <strong>Sharedrive</strong>, we understand that your time and trust are invaluable. That's why we strive to deliver an
      exceptional car rental experience with every journey. From the moment you choose us, our focus is on exceeding
      your expectations through impeccable service, competitive rates, and an unwavering commitment to your comfort and
      convenience.
      <br>
      Whether you're embarking on a short business trip, a weekend getaway, or an extended adventure, we ensure that
      your travel is as smooth and enjoyable as possible. With a wide range of vehicles, transparent pricing, and
      support at every step, we make renting a car hassle-free.
      <br>
      Wherever the road takes you, let <strong>Sharedrive</strong> be your trusted partner, driving you there with confidence and ease.
    </p>
    <h1 class="text-secondary-emphasis text-center m-4">Our Mission</h1>
    <p class="text-secondary p-2" style="text-align: justify;">
      At <strong>Sharedrive</strong>, we are dedicated to delivering an unparalleled car rental experience tailored to meet your unique
      needs. With a diverse fleet of vehicles, ranging from fuel-efficient compact cars to spacious SUVs and luxurious
      models, we ensure you have the perfect ride for every journey. Coupled with our competitive rates and commitment
      to exceptional customer support, we make car rentals seamless, affordable, and stress-free.
      <br>
      Our mission is to empower you with the freedom to travel on your terms—anywhere, anytime. Whether it’s a business
      trip, a family vacation, or a spontaneous adventure, <strong>Sharedrive</strong> is here to get you where you need to go, reliably
      and comfortably. Your journey begins with us.
    </p>
  </div>
  <div class="container-fluid">
    <div class="row" style="min-height: 150px;">
      <div class="col-lg-4 col-12 d-flex justify-content-center" style="height: 150px;background-color: #9CC5FF;">
        <h1 style="font-size: 80px;" class="text-primary">2</h1>
        <p class="mt-3" style="font-size: 20px;">Years <br> Experience</p>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-center" style="height: 150px;">
        <h1 style="font-size: 80px;" class="text-primary">22</h1>
        <p class="mt-3" style="font-size: 20px;">Total <br> Cars</p>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-center" style="height: 150px;">
        <h1 style="font-size: 80px;" class="text-primary">435</h1>
        <p class="mt-3" style="font-size: 20px;">Happy <br> Clients</p>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
      <div class="row text-center text-md-start">
        <!-- About Us -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-primary">About Us</h5>
          <p>
            <strong>Sharedrive</strong> – Where every journey begins with trust, comfort, and endless possibilities.
          </p>
        </div>

        <!-- Quick Links -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Quick Links</h5>
          <p><a href="#" class="text-white text-decoration-none">Home</a></p>
          <p><a href="#" class="text-white text-decoration-none">Services</a></p>
          <p><a href="#" class="text-white text-decoration-none">Portfolio</a></p>
          <p><a href="#" class="text-white text-decoration-none">Contact</a></p>
        </div>

        <!-- Contact Information -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contact</h5>
          <p><i class="fas fa-home mr-3"></i>Subhash Nagar, Chembur, Mumbai- 400071</p>
          <p><i class="fas fa-envelope mr-3"></i>sharedrivee1@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> 9004988983</p>
        </div>

        <!-- Social Media Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Follow Us</h5>
          <a href="#" class="btn btn-primary" style="background-color: #ac2bac;" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
              <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
            </svg>
          </a>
        </div>
        </div>
      </div>

      <!-- Horizontal Line -->
      <hr class="mb-4" />

      <!-- Copyright -->
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 col-lg-8">
          <p>
            © 2024 Atharv Yadav. All Rights Reserved.
            <a href="https://developeraadesh.wordpress.com/" class="text-primary text-decoration-none"><strong>Privacy
                Policy</strong></a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>