<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.png">
    <title>Share Drive - Self-Drive Car Rentals in Mumbai | Affordable Car Rental Services</title>
    <meta name="description"
        content="Share Drive offers the best car rental services in Mumbai, including self-drive car rentals, cars with drivers, and flexible rental plans. Rent a car near you today!" />
    <meta name="keywords"
        content="car rental Mumbai, Mumbai car rental service, self drive car rental Mumbai, car on rent, car rentals, rental cars for rent, self drive cars in Mumbai, car rent Mumbai, car rental near me, car rental services, car rent, self drive cars, car for rent in Mumbai" />
    <meta name="author" content="Share Drive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.share-drive.com/car">
    <meta property="og:title" content="Share Drive - Self-Drive & Chauffeur Car Rentals in Mumbai">
    <meta property="og:description"
        content="Explore self-drive car rentals or hire cars with drivers in Mumbai with Share Drive. Affordable and flexible car rental options to meet your needs." />
    <meta property="og:url" content="https://www.share-drive.com/car">
    <meta property="og:image" content="https://www.sharedrive.org.in/uploads/thumb-1735235939481-new%20balenoo.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="https://www.sharedrive.org.in/uploads/thumb-1735235939481-new%20balenoo.jpg">
    <meta name="twitter:title" content="Share Drive - Car Rentals in Mumbai">
    <meta name="twitter:description"
        content="Affordable car rentals in Mumbai! Choose Share Drive for self-drive cars, chauffeur-driven options, and more." />
    <meta name="twitter:image" content="https://www.sharedrive.org.in/images/banner/banner.png">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <style>
        * {
            scroll-behavior: smooth;
        }

        .container {
            max-width: 1280px;
            margin: auto;
        }
    </style>
    <div class="max-w-screen-xl mx-auto">
        <!-- nav bat -->
        <div>
            <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-400 dark:border-gray-600"
                style="z-index: 50;">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <img src="/images/logo.png" class="h-8" alt="ShareDrive">
                        <span class="self-center text-2xl whitespace-nowrap dark:text-white"
                            style="font-weight: 900;">SHARE <span style="color: #1a56db;">DRIVE</span></span>
                    </a>
                    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                        <button data-collapse-toggle="navbar-sticky" type="button"
                            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            aria-controls="navbar-sticky" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 17 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                            </svg>
                        </button>
                    </div>
                    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
                        id="navbar-sticky">
                        <ul
                            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                                <a href="/"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                                    aria-current="page">Home</a>
                            </li>
                            <li>
                                <a href="/about"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                            </li>
                            <li>
                                <a href="/car"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                                    Cars
                                </a>
                            </li>
                            <li>
                                <a href="/contact-us"
                                    class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">
                                    Contact Us
                                </a>
                            </li>
                            <% if(profile){ %>
                                <li>
                                    <a href="/profile/<%= profile %>"
                                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Profile</a>
                                </li>
                                <% }else{ %>
                                    <li>
                                        <a href="/login"
                                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Login</a>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="p-3" style="margin-top: 100px;">
            <h1
                class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                Welcome to Sharedrive</h1>
            <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
                <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                    <path
                        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
                </svg>
                <p>"Sharedrive is more than just a car rental service"</p>
                <p class="text-gray-500 dark:text-gray-400">
                    It’s your trusted partner on the road. With a diverse fleet of well-maintained vehicles and a
                    commitment to exceptional service, we strive to make every ride smooth, safe, and stress-free
                </p>
                <br>
                <p class="text-gray-500 dark:text-gray-400">
                    At <b>Sharedrive</b>, we believe every journey should be as memorable as the destination. As a
                    premium car rental company, we are dedicated to delivering seamless, reliable, and sophisticated
                    transportation solutions tailored to your needs. Whether it’s a quick city trip, a family getaway,
                    or a business venture, we provide the perfect vehicle to make your travel effortless and enjoyable.
                </p>
                <h1
                    class="text-center mt-5 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                    Why to <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">choose us</mark></h1>
                <p class="text-gray-500 dark:text-gray-400">
                    At Sharedrive, we are committed to providing a seamless car rental experience that meets the diverse
                    needs of every traveler. Our extensive fleet includes everything from compact cars, perfect for city
                    drives and solo trips, to luxury vehicles designed for those seeking premium comfort and style. No
                    matter your budget or preference, we offer all our vehicles at competitive and transparent prices,
                    ensuring you always know what you’re paying for—with absolutely no hidden fees.
                </p>
                <br>
                <p class="text-gray-500 dark:text-gray-400">
                    Our strategically located rental hubs make it easy to access our services, whether you’re traveling
                    across the country or venturing internationally. Whether you’re picking up a vehicle near your home,
                    at a major airport, or at a city center, we ensure convenience and accessibility at every step of
                    your journey.
                </p>
                <br>
                <p class="text-gray-500 dark:text-gray-400">
                    We understand that plans can change, which is why we offer flexible rental terms tailored to your
                    schedule—whether you need a car for a few hours, days, or weeks. To further enhance your peace of
                    mind, our dedicated team provides 24/7 customer support, ready to assist you at any time, ensuring a
                    stress-free and smooth rental experience.
                </p>
                <p class="text-gray-500 dark:text-gray-400">
                    At Sharedrive, your convenience and satisfaction are our top priorities. We combine affordability,
                    reliability, and exceptional service to help you get where you need to go with confidence and ease.
                </p>
                <h1
                    class="mt-2 text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                    <span class="text-blue-600 dark:text-blue-500">Our Promise</span>
                </h1>
                <p class="text-gray-500 dark:text-gray-400">
                    At Sharedrive, we understand that your time and trust are invaluable. That's why we strive to
                    deliver an exceptional car rental experience with every journey. From the moment you choose us, our
                    focus is on exceeding your expectations through impeccable service, competitive rates, and an
                    unwavering commitment to your comfort and convenience.
                </p>
                <br>
                <p class="text-gray-500 dark:text-gray-400">
                    Whether you're embarking on a short business trip, a weekend getaway, or an extended adventure, we
                    ensure that your travel is as smooth and enjoyable as possible. With a wide range of vehicles,
                    transparent pricing, and support at every step, we make renting a car hassle-free.
                </p>
                <br>
                <p class="text-gray-500 dark:text-gray-400">
                    Wherever the road takes you, let Sharedrive be your trusted partner, driving you there with
                    confidence and ease
                </p>
                <h1
                    class="mt-2 text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                    Our Mission
                </h1>
                <p class="text-gray-500 dark:text-gray-400">
                    At Sharedrive, we are dedicated to delivering an unparalleled car rental experience tailored to meet
                    your unique needs. With a diverse fleet of vehicles, ranging from fuel-efficient compact cars to
                    spacious SUVs and luxurious models, we ensure you have the perfect ride for every journey. Coupled
                    with our competitive rates and commitment to exceptional customer support, we make car rentals
                    seamless, affordable, and stress-free.
                </p>
                <br>
                <p class="text-gray-500 dark:text-gray-400">
                    Our mission is to empower you with the freedom to travel on your terms—anywhere, anytime. Whether
                    it’s a business trip, a family vacation, or a spontaneous adventure, Sharedrive is here to get you
                    where you need to go, reliably and comfortably. Your journey begins with us.
                </p>
            </blockquote>
        </div>
        <div class="grid grid-cols-3">
            <div style="background-color: #9cc5ff; padding: 40px;" >
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><span class="text-blue-600 dark:text-blue-500">2</span>Years Experience</h1>
            </div>
            <div style="padding: 40px;">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><span class="text-blue-600 dark:text-blue-500">22</span>Total Cars</h1>
            </div>
            <div style="padding: 40px;">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><span class="text-blue-600 dark:text-blue-500">435</span>Happy Client</h1>
            </div>
        </div>
        <!-- footer -->
        <footer class="bg-gray-900 dark:bg-gray-900 mt-3">
            <div class="mx-auto w-full max-w-screen-xl">
                <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">About Us</h2>
                        <p class="text-white">Sharedrive – Where every journey begins with trust, comfort, and endless
                            possibilities.</p>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Quick Links</h2>
                        <ul class="text-white dark:text-white font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Home</a>
                            </li>
                            <li class="mb-4">
                                <a href="/about" class="hover:underline">About</a>
                            </li>
                            <li class="mb-4">
                                <a href="/car" class="hover:underline">Cars</a>
                            </li>
                            <li class="mb-4">
                                <a href="/contact" class="hover:underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Contact</h2>
                        <ul class="text-white dark:text-white font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Subhash Nagar, Chembur, Mumbai- 400071</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">sharedrivee1@gmail.com</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">9004988983</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Legal</h2>
                        <ul class="text-white dark:text-white font-medium">
                            <li class="mb-4">
                                <a href="/terms-and-conditions" class="hover:underline">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="px-4 py-6 bg-gray dark:bg-white md:flex md:items-center md:justify-between">
                    <span class="text-sm text-white dark:text-white sm:text-center">© 2024 <a
                            href="https://developeraadesh.wordpress.com/">DEVELOPERAADESH™</a>. All Rights Reserved.
                    </span>
                    <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
                        <a href="https://www.instagram.com/sharedrive_/profilecard/?igsh=MW9hcnYwczFsOGN2cw%3D%3D"
                            class="text-white hover:text-white dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-instagram" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                            </svg>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>